.newsletter {
  margin: 0 auto;
  text-align: center;
  max-width: 420px;
  background-color: #17c164;
  border: 1px solid #000000;
  border-radius: 15px;
  padding: 16px 20px 32px;

  &__info {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 25px;
  }

  &__picture {
    flex-grow: 1;
    text-align: center;
    margin-bottom: 30px;

    &-image {
      height: 80px;
      width: 110px;
    }
  }

  &__input {
    padding: 9px 7px;
    border-radius: 5px;
    border: 1px solid transparent;
    display: block;
    width: 100%;
    margin-bottom: 15px;

    &:active,
    &:focus {
      border: 1px solid black;
      outline: none;
      box-shadow: 2px 2px 3px rgba(77, 77, 77, 0.3);
    }
  }

  &__subscribe {
    background-color: orange;
    color: white;
    font-weight: 500;
    font-size: 17px;
    text-transform: uppercase;
    text-align: center;
  }
}
